/* CSS Modules
-------------------------------------*/
@import url("./fonts.scss");
@import url("./coordinates.scss");
@import url("./badgestyles.scss");
@import url("./transitions.scss");

/* Colors
-------------------------------------*/
$pink: #e90052;
$grey: #eaeaea;
$hover-grey: #dddddd;
$shadow-grey: #888888;

/* Base Styles
-------------------------------------*/
.centered-text {
   text-align: center;
}

.playercard {
   margin: 20px auto;
   width: 300px;
   box-shadow: 1px 1px 5px $shadow-grey; // <-- maybe play around with levels later...
   position: relative;
}

.section {
   margin: 0;
   padding: 0;
}

/* PlayerSelect Styles
-------------------------------------*/
.playerselect {
   position: relative;
   height: 298px;
   background-image: url('../static/img/pattern.png');
   background-repeat: no-repeat;
   padding: 16px;
   .text-field {
      padding: 10px 8px;
   }
}

.player-selector {
   position: relative;
   width: 268px;
   height: 40px;
   background-color: $grey;
   p {
      font-size: 16px;
      padding: 9px 12px;
   }
   .chevron {
      cursor: hand;
      cursor: pointer;
      font-size: 18px;
      position: absolute;
      right: 15px;
      top: 10px;
      &:hover {
         color: $pink;
      }
   }
}

.animation-wrapper {
   height: 184px;
   overflow: hidden;
}

.player-dropdown {
   width: 268px;
   position: relative;
   .playeroption {
      text-align: right;
      width: 100%;
      background-color: $grey;
      padding: 1px 10px;
      &:hover {
         cursor: hand;
         cursor: pointer;
         background-color: $hover-grey;
      }
      p {
         margin: 8px 0 6px;
      }
   }
}

// position and size headshot image by its container...
.headshot-container {
   width: 170px;
   position: absolute;
   bottom: 0;
   left: 10px;
}

// headshot image to fill container
.headshot {
   width: 100%;
   height: 100%;
}

/* PlayerStats Styles
-------------------------------------*/
.stats {
   background-color: $pink;
   height: 302px;
   padding: 16px;
}
.loading {
   color: white;
   padding: 126px 0;
   text-align: center;
}
.player-header {
   color: white;
}

h2, h3 {
   margin: 0 0 9px 0;
   font-weight: 100;
}

h2 {
   font-size: 22px;
   margin-bottom: 5px;
}
h3 {
   font-size: 16px;
}

.stat-container {
   width: 268px;
}

.stat-field {
   height: 40px;
   margin-bottom: -7px;
   background-color: $grey;
   box-shadow: 0 0 20px $shadow-grey;
   p {
      span:first-child {
         float: left;
         font-size: 16px;
         padding: 9px;
      }
      span:last-child {
         float: right;
         font-size: 18px;
         font-weight: bold;
         padding: 7px 12px;
      }
   }
}
