/* CSS Modules
-------------------------------------*/
@import url("./other.scss");


/* Variables
-------------------------------------*/
$primary-color: red;

/* Fonts
-------------------------------------*/
h1, h2, h3, h4, h5, h6, p {
   font-family: 'arial', sans-serif;
}

/* Base Styles
-------------------------------------*/
.centered-text {
   text-align: center;
}

.playercard {
   margin: 40px auto;
   width: 300px;
   box-shadow: 1px 1px 5px #888888; // <-- maybe play around with levels later...
   position: relative;
}

.card-section {
   margin: 0;
   padding: 0;
}

/* AvatarUI Styles
-------------------------------------*/
.avatar-section {
   position: relative;
   height: 298px;
   background-image: url('./bg-img/pattern.png');
   background-repeat: no-repeat;
   padding: 16px;
   .text-field {
      padding: 10px 8px;
   }
}

.player-selector {
   position: relative;
   width: 268px;
   height: 40px;
   background-color: #eaeaea;
   p {
      font-size: 16px;
      padding: 9px 12px;
   }
   .dropdown {
      cursor: hand;
      cursor: pointer;
      font-size: 18px;
      position: absolute;
      right: 15px;
      top: 10px;
      &:hover {
         color: #e90052;
      }
   }
}

.player-dropdown {
   width: 268px;
   .playeroption {
      text-align: right;
      width: 100%;
      height: 30px;
      background-color: #eaeaea;
      padding: 5px 10px;
      &:hover {
         cursor: hand;
         cursor: pointer;
         background-color: #dddddd;
      }
   }
}

.headshot-container {
   width: 170px;
   position: absolute;
   bottom: 0;
   left: 10px;
}

.headshot {
   width: 100%;
   height: 100%;
}

/* ClubBadge Styles
-------------------------------------*/

.ellipse {
   width: 82px;
   height: 82px;
   border-radius: 100%;
   position: absolute;
   top: 259px;
   right: 20px;
   background: white;
}

.club-badge {
   position: relative;
   top: 6px;
   left: 6px;
   height: 70px;
   width: 70px;
   background-image: url('./bg-img/badges_sprite_transparent_70.png');
   background-repeat: no-repeat;
}

// Man Utd
.badge-12 { background-position: -420px -560px; }

// Man City
.badge-11 { background-position: -560px -490px; }

// Spurs
.badge-21 { background-position: -350px -700px; }

// Arsenal
.badge-1 { background-position: -70px -70px; }

// Leicester
.badge-26 { background-position: 0 0; }

// Empty badge-26
.badge-blank { background-position: -770px -350px, }

/* StatsUI Styles
-------------------------------------*/

.stats-section {
   background-color: #e90052;
   height: 302px;
   padding: 16px;
}

.player-header {
   color: #fff;
}

h2, h3 {
   margin: 0 0 9px 0;
   font-weight: 100;
}

h2 {
   font-size: 22px;
   margin-bottom: 5px;
}

h3 {
   font-size: 16px;
}

.stat-container {
   width: 268px;
}

.stat-field {
   height: 40px;
   margin-bottom: -7px;
   background-color: #eaeaea;
   box-shadow: 0 0 20px #888888;
   p {
      span:first-child {
         float: left;
         font-size: 16px;
         padding: 9px;
      }
      span:last-child {
         float: right;
         font-size: 18px;
         font-weight: bold;
         padding: 7px 12px;
      }
   }
}

/* Grid Experiment
-------------------------------------*/
.badge_grid {
   margin: 20px auto;
   width: 80px;
   height: 80px;
   background-image: url('./bg-img/badges_sprite.png');
   background-repeat: no-repeat;
   background-position: -100px;
}
