/*Arsenal*/
.badge-1 { background-position: -70px -70px; }

/*Man City*/
.badge-11 { background-position: -560px -490px; }

/*Man Utd*/
.badge-12 { background-position: -420px -560px; }

/*Spurs*/
.badge-21 { background-position: -350px -700px; }

/*Leicester*/
.badge-26 { background-position: 0 0; }

/*Empty badge-26*/
.badge-blank { background-position: -770px -350px, }
